page-nueva-actividad {
	.alert-wrapper {
   min-width: 40px;//what ever you like
}

.alert-radio-label {
   white-space: normal!important;
   ion-select {
   	min-width: 100%;
   }
}

ion-item.selw75 {
  ion-label {
    min-width: 25%;
  }
  ion-select {
    min-width: 100%;
  }
}


}