<!-- Pagina de actividades: pagina que se muestra una lista de las actividades del
usuario actual. Al apretar una actividad lleva al detalle -->
<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Actividades</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<!-- Swipe to refresh -->
	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<!-- FAB con boton para agregar -->
	<ion-fab right bottom>
		<button ion-fab color="primary" (click)="agregarActividad($event)">
		<ion-icon name="add"></ion-icon></button>
	</ion-fab>
	<!-- Tarjetas con las actividades repetidas -->
	<ion-card *ngFor="let item of actividades">
		<ion-card-content>
			<!-- El tipo y la fecha de la actividad -->
			<p><font color="#757575">
				{{ item.tipo[0] }} · {{ item.fecha }}
			</font></p>
			<!-- Titulo de la actividad -->
			<ion-card-title>
				{{ item.titulo }}
			</ion-card-title>
			<!-- Repetir botones de actividades -->
			<button *ngFor="let p of item.tags" ion-button  round strong="false" small padding [color]="p.color">
				{{p.title}}
			</button>	
		</ion-card-content>
	</ion-card>
</ion-content>